<% include head %>
<body>
  <h1>Sign Up</h1>
  <form action="/user" method="POST">
    <label>Email</label>
    <input type="email" name="email">
    <label>Password</label>
    <input type="password" name="password">
    <label>Password Confirmation</label>
    <input type="password" name="password_confirm">
    <input type="submit" value="Register">
  </form>
</body>
</html>
