<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title><%= title %> | Pizza value store</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
      <h1>Your order is a <%= size %> <%= topping %> pizza</h1>
    </body>
</html>
