<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <% include stylesheets %>
    </head>
    <body>
      <h1>My site title is <%= title %></h1>
      <ul>
        <% awesomeThings.forEach(function(thing){ %>
          <li><%= thing.name %> is awesome</li>
        <% }); %>
      </ul>
      <% include javascripts %>
    </body>
</html>
